<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
  <title>Travel La Trobe</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/css?family=Oxygen|Muli" rel="stylesheet">
  <link href="https://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/static/css/main.css" type="text/css" rel="stylesheet" media="screen,projection" />

    <!-- jQuery -->
	 <script src="/static/js/vendors/jquery-2.1.1.min.js"></script>
   
    <!-- Bootstrap Core JavaScript -->
    <script src="/static/js/vendors/bootstrap.min.js"></script>

  <link rel="shortcut icon" href="/favicon.ico?v2.1" type="image/x-icon">
  <link rel="icon" href="/favicon.ico?v2" type="image/x-icon">
</head>