<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
        <li>
            <a href="/plan_journey">Journey Planner</a>
        </li>
        <li>
            <a href="/next5">Next 5</a>
        </li>
        <li>
            <a href="#">Glider</a>
        </li>
        <li>
            <a href="/map">Explore Latrobe</a>
        </li>
        <li>
            <a href="/myki">Ticket Info</a>
        </li>
        <li>
            <a href="/contactUs">Contact</a>
        </li>
        <li>
            <a href="/about">About</a>
        </li>
    </ul>
</div>