<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
        <li>
            <a href="#">Plan Journey</a>
        </li>
        <li>
            <a href="/next5">Next 5</a>
        </li>
        <li>
            <a href="#">Next Glider</a>
        </li>
        <li>
            <a href="#">Map</a>
        </li>
        <li>
            <a href="/kiosk">Kiosk</a>
        </li>
        <li>
            <a href="#">About</a>
        </li>
    </ul>
</div>