<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
        <li>
            <a href="/plan_journey">Plan Journey</a>
        </li>
        <li>
            <a href="/next5">Next 5</a>
        </li>
        <li>
            <a href="/glider">Next Glider</a>
        </li>
        <li>
            <a href="/map">Map</a>
        </li>
        <li>
            <a href="/kiosk">Kiosk</a>
        </li>
        <li>
            <a href="/about">About</a>
        </li>
    </ul>
</div>