<% include partials/header %>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
  <title>La Trobe University</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/css?family=Oxygen|Muli" rel="stylesheet">
  <link href="https://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/static/css/main.css" type="text/css" rel="stylesheet" media="screen,projection" />

  <link rel="shortcut icon" href="/favicon.ico?v2.1" type="image/x-icon">
  <link rel="icon" href="/favicon.ico?v2" type="image/x-icon">
</head>

<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- jQuery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.5.3/js/bootstrapValidator.js"></script>
<script src="static/js/vendors/bootstrap-toolkit.js"></script>
	


	<!-- STICKY BAR -->
	<script>
	/*Expandable Sticky Bar (Initial: Nov 1st, 2010)
     * This notice must stay intact for usage 
     * Author: Dynamic Drive at http://www.dynamicdrive.com/
     * Visit http://www.dynamicdrive.com/ for full source code
     */
jQuery.noConflict()

function expstickybar(usersetting){
	var setting=jQuery.extend({position:'bottom', peekamount:30, revealtype:'mouseover', speed:200}, usersetting)
	var thisbar=this
	var cssfixedsupport=!document.all || document.all && document.compatMode=="CSS1Compat" && window.XMLHttpRequest //check for CSS fixed support
	if (!cssfixedsupport || window.opera)
		return
	jQuery(function($){ //on document.ready
		if (setting.externalcontent){
			thisbar.$ajaxstickydiv=$('<div id="ajaxstickydiv_'+setting.id+'"></div>').appendTo(document.body) //create blank div to house sticky bar DIV
			thisbar.loadcontent($, setting)
			}
		else
			thisbar.init($, setting)
	})
}

expstickybar.prototype={

	loadcontent:function($, setting){
		var thisbar=this
		var ajaxfriendlyurl=setting.externalcontent.replace(/^http:\/\/[^\/]+\//i, "http://"+window.location.hostname+"/") 
		$.ajax({
			url: ajaxfriendlyurl, //path to external content
			async: true,
			dataType: 'html',
			error:function(ajaxrequest){
				alert('Error fetching Ajax content.<br />Server Response: '+ajaxrequest.responseText)
			},
			success:function(content){
				thisbar.$ajaxstickydiv.html(content)
				thisbar.init($, setting)
			}
		})

	},

	showhide:function(keyword, anim){
		var thisbar=this, $=jQuery
		var finalpx=(keyword=="show")? 0 : -(this.height-this.setting.peekamount)
		var positioncss=(this.setting.position=="bottom")? {bottom:finalpx} : {top:finalpx}
		this.$stickybar.stop().animate(positioncss, (anim)? this.setting.speed : 0)
		
		thisbar.currentstate=keyword
	},

	toggle:function(){
		var state=(this.currentstate=="show")? "hide" : "show"
		this.showhide(state, true)
	},

	init:function($, setting){
		var thisbar=this
		this.$stickybar=$('#'+setting.id).css('visibility', 'visible')
		this.height=this.$stickybar.outerHeight()
		this.currentstate="hide"
		setting.peekamount=Math.min(this.height, setting.peekamount)
		this.setting=setting
		if (setting.revealtype=="mouseover")
			this.$stickybar.bind("mouseenter mouseleave", function(e){
				thisbar.showhide((e.type=="mouseenter")? "show" : "hide", true)
		})
		thisbar.toggle()
		
		setTimeout(function(){
			thisbar.height=thisbar.$stickybar.outerHeight() //refetch height of bar after 1 second (last change to properly get height of sticky bar)
		}, 1000)
		this.showhide("hide")
	}
}


/////////////Initialization code://///////////////////////////
var mystickybar= new expstickybar({
	id: "stickybar", //id of sticky bar DIV
	position:'bottom', //'top' or 'bottom'
	revealtype:'mouseover', //'mouseover' or 'manual'
	peekamount:35, //number of pixels to reveal when sticky bar is closed
	externalcontent:'', //path to sticky bar content file on your server, or "" if content is defined inline on the page
	speed:200 //duration of animation (in millisecs)
})
	</script>
	<!-- Bootstrap Core JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap-theme.css">

	<!-- STICKY BAR -->
	<script>
	(function($, viewport){
    $(document).ready(function() {
	
	var mystickybar= new expstickybar({
	id: "stickybar", //id of sticky bar DIV
	position:'bottom', //'top' or 'bottom'
	revealtype:'mouseover', //'mouseover' or 'manual'
	peekamount:35, //number of pixels to reveal when sticky bar is closed
	externalcontent:'', //path to sticky bar content file on your server, or "" if content is defined inline on the page
	speed:200 //duration of animation (in millisecs)
})
	
	///////------ RESIZING IMAGES ------///////
        // Executes only in XS breakpoint
        if(viewport.is('xs')) {
		    $('#glyphi1').css('margin-bottom', '20px');
			$('#glyphi2').css('margin-bottom', '20px');
            $('#img2').css('display', 'none');
			$('#img3').css('display', 'none');
			$('#mainBody').css({'border-right': 'none', 'border-bottom': '1px solid darkgrey'});
        }

        // Executes in SM
        if(viewport.is('sm')) {
                    $('#img2').css('display', 'initial');
					$('#img3').css('display', 'none');
					$('#img1').removeClass('col-xs-12 col-sm-4 col-md-4').addClass('col-xs-12 col-sm-6 col-md-4');
					$('#img2').removeClass('col-xs-12 col-sm-4 col-md-4').addClass('col-xs-12 col-sm-6 col-md-4');
                    $('#mainBody').css({'border-right': 'none', 'border-bottom': '1px solid darkgrey'});
				}

        // Execute code each time window size changes
        $(window).resize(		
            viewport.changed(function() {
                if(viewport.is('xs')) {
			        $('#glyphi1').css('margin-bottom', '20px');
			        $('#glyphi2').css('margin-bottom', '20px');
                    $('#img2').css('display', 'none');
					$('#img3').css('display', 'none');
					$('#mainBody').css({'border-right': 'none', 'border-bottom': '1px solid darkgrey'});

                }
				if(viewport.is('sm')) {
                    //$('#img2').css('display', 'initial');
					$('#img3').css('display', 'none');
					$('#img2').fadeIn();
					$('#mainBody').css({'border-right': 'none', 'border-bottom': '1px solid darkgrey'});

					$('#img1').removeClass('col-xs-12 col-sm-4 col-md-4').addClass('col-xs-12 col-sm-6 col-md-4');
					$('#img2').removeClass('col-xs-12 col-sm-4 col-md-4').addClass('col-xs-12 col-sm-6 col-md-4');
                }
				if(viewport.is('>sm')) {
                    //$('#img2').css('display', 'initial');
					//$('#img3').css('display', 'initial');
					$('#img2').fadeIn();
					$('#img3').fadeIn();
					$('#mainBody').css({'border-bottom': 'none', 'border-right': '1px solid darkgrey'});
                }
            })
        );
	///////------- CONTACT US VALIDATION ------///////
	$('#contact_form').bootstrapValidator({
        // To use feedback icons, ensure that you use Bootstrap v3.1.0 or later
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            first_name: {
                validators: {
                        stringLength: {
                        min: 2,
                    },
                        notEmpty: {
                        message: 'Please supply your first name'
                    }
                }
            },
            email: {
                validators: {
                    notEmpty: {
                        message: 'Please supply your email address'
                    },
                    emailAddress: {
                        message: 'Please supply a valid email address'
                    }
                }
            },
            comment: {
                validators: {
                      stringLength: {
                        min: 10,
                        max: 500,
                        message:'Please enter at least 10 characters and no more than 500'
                    },
                    notEmpty: {
                        message: 'Please supply a comment'
                    }
                    }
                }
            }
        })
        .on('success.form.bv', function(e) {
            $('#success_message').slideDown({ opacity: "show" }, "slow") // Do something ...
                $('#contact_form').data('bootstrapValidator').resetForm();

            // Prevent form submission
            e.preventDefault();

            // Get the form instance
            var $form = $(e.target);

            // Get the BootstrapValidator instance
            var bv = $form.data('bootstrapValidator');

            // Use Ajax to submit form data
            $.post($form.attr('action'), $form.serialize(), function(result) {
                console.log(result);
            }, 'json');
			
			var Name = $("input#Name").val();
            var Email = $("input#Email").val();
            var Message = $("textarea#Message").val();
        });
    });
})(jQuery, ResponsiveBootstrapToolkit);
</script>	
	
<style>
body{
		background: linear-gradient(0deg, rgba(234,109,34,1) 0%, rgba(154,23,15,1) 100%); / w3c /
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9a170f', endColorstr='#ea6d22',GradientType=0 ); / ie6-9 /
		height: 100%;
		margin: 0;
		background-repeat: no-repeat;
		background-attachment: fixed;
	}
</style>

<body id="glider">

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <img src="/static/img/logo.png" alt="">
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <% include partials/menu %>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container img-rounded" style = "background-color: #F5F2E3;">

		
		<!-- Content Row -->
        <div class="row">
            <div class="col-md-12">
			<h3 class = "img-rounded" style = "padding: 10px; background-image:  linear-gradient(to bottom, #31281c 0%, #51422f 100%); color: #FF9900;">La Trobe Glider Service</h3>
                
					
				
                        <div class="timetable-content">
                            <h4 class = "img-rounded" style = "padding: 10px; background-image:  linear-gradient(to bottom, #31281c 0%, #51422f 100%); color: #FF9900;">Timetable - Major stops</h4>
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>Plenty Road - Depart Stop 1</th>
                                    <th>Barnes Way Stop 4</th>
                                    <th>Uni Lodge Stop 7</th>
                                    <th>Polaris Stop 10</th>
                                    <th>Plenty Road - Arrive Stop 1</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>8:30</td>
                                    <td>8:34</td>
                                    <td>8:39</td>
                                    <td>8:44</td>
                                    <td>8:48</td>
                                </tr>
                                <tr>
                                    <td>8:30</td>
                                    <td>8:34</td>
                                    <td>8:39</td>
                                    <td>8:44</td>
                                    <td>8:48</td>
                                </tr>
                                <tr>
                                    <td>8:30</td>
                                    <td>8:34</td>
                                    <td>8:39</td>
                                    <td>8:44</td>
                                    <td>8:48</td>
                                </tr>
                                <tr>
                                    <td>8:30</td>
                                    <td>8:34</td>
                                    <td>8:39</td>
                                    <td>8:44</td>
                                    <td>8:48</td>
                                </tr>
                                <tr>
                                    <td>8:30</td>
                                    <td>8:34</td>
                                    <td>8:39</td>
                                    <td>8:44</td>
                                    <td>8:48</td>
                                </tr>
                                <tr>
                                    <td>8:30</td>
                                    <td>8:34</td>
                                    <td>8:39</td>
                                    <td>8:44</td>
                                    <td>8:48</td>
                                </tr>
                                </tbody>
                            </table>
						<p> The La Trobe Glider provides a free, day and night bus service for students, staff and the wider community travelling in a loop around the Melbourne campus.<br>
						<br>
						***The complete La Trobe glider functionality is not currently available but will be made available in future implementations.</p>
                       
			  		<img class = "img-rounded" src = "static/img/gliderRoute.jpg" style = "width:100%; border: 1px solid black;">
				<br> <br>
			</div>
		</div>
	</div>
</div>
    <!-- /.container -->
	
	<!-- FOOTER SPACER -->
<div style="position:absolute;width:99.5%;height:4.5%;">
&nbsp;
</div>

<div id="stickybar" style="position:fixed;color: white;right:0;left:0;visibility:hidden;background:#2D251A;z-index: 10000;width:auto;font-weight:bold;">
		<div class ="navbar-inverse" style="text-align:center; padding:7.5px; background-color: #31281c;">Copyright (c) 2016 <a href="http://www.latrobe.edu.au" style="color:white;text-decoration:underline;">La Trobe University</a></div>
		<div class="row" style="margin-left:10px; margin-top:10px;">
			
			<div class="col-xs-6 col-sm-3 col-md-3" style="float:left">
				<h4 style="color:#FF9900;">INFORMATION</h4>
				<ul style="list-style: none;">
					<li><a href="/myki" style="color: white;">Myki Information</a></li>
					<li><a href="https://lms.latrobe.edu.au/login/index.php" style="color: white;">LMS</a></li>
				</ul>
			</div>
			
		</div> 
	</div> 
	<div class = "col-lg-12 spacer" style = "height: 50px;">
		<!-- Adds some space to the bottom of the page to make room for the footer -->
	</div>

    <!-- Scripts-->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCrzOfCzSnWmWbqGGdpM0p9FJAq152ORww&callback=iniMap" async defer></script>
    <script type="text/javascript" src="/static/js/config.js"></script>
    <script type="text/javascript" data-main="modules/map/init" src="/static/js/vendors/r.js"></script>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
	
	

</body>

</html>
