<% include partials/header %>

<body id="kiosk">

<textarea style="display:none" id="schema_bus">

	<!-- Start of bus block -->
	<div class="col-lg-12 box-timetable-right big-box">
		<div class="col-lg-5 display_table no-padding ">

			<div class="col-lg-4 display_table no-padding">
				<div class="display_cell">
					<img src="static/img/bus.png" class="responsive vih-pic">
				</div>
			</div>

			<div class="col-lg-8 display_table time-table">
				<div class="display_cell">
					<h4 class="trans_code">{CODE}</h4>
					<h5 class="trans_title">{TITLE}</h4>
					<p class="trans_info">{INFO}</p>
				</div>
			</div>

		</div>

		<div class="col-lg-7">
			{TIME}
		</div>
	</div>
	<!-- End of bus block -->

</textarea>


<textarea style="display:none" id="schema_tram">
	<!-- Start of tram block -->
	<div class="col-lg-12  box-timetable-left big-box">
		<div class="col-lg-5  display_table no-padding ">

			<div class="col-lg-4 display_table no-padding">
				<div class="display_cell">
					<img src="static/img/tram.png" class="responsive vih-pic">
				</div>
			</div>

			<div class="col-lg-8 display_table time-table">
				<div class="display_cell">
					<h4 class="trans_code">{CODE}</h4>
					<h5 class="trans_title">{TITLE}</h4>
					<p class="trans_info">{INFO}</p>
				</div>
			</div>

		</div>

		<div class="col-lg-7 tram-time-button">
			{TIME}
		</div>
	</div>
	<!-- End of tram block -->
</textarea>




		<div class="row">
			<div class="col-lg-12">

				<div class="header">
					<div class="banner">

					</div>
				</div>

			</div>
		
		</div>

        <!--<div class="row">
            <div class="box">BOX</div>
        </div>-->
		<div class="row">

			<div class="main-content animate">

				<div class="col-lg-12 time-table-parents">

						<div class="col-lg-3 main-column col-1"></div>

						<div class="col-lg-3 main-column col-2"></div>

						<div class="col-lg-3 main-column col-3"></div>
						
						<div class="col-lg-3 main-column col-4"></div>

				</div>

			</div>

		</div>




		<div class="row footer-row">

			<div class="col-lg-12">

				<div class="footer">

					<div class="main-footer">

						<!--<div class="col-lg-6">

							<div class="col-lg-1">
								<img src="static/img/glider.png">
							</div>

							<div class="col-lg-11 footer-font">
								<p>Glider is coming in the next 6 mins.</p>
							</div>
						</div>-->

						<div class="col-lg-12">
							<marquee>
									<p class="footer-font" style="padding-top: 0px;"><img src="static/img/latroube-footer.png" style="vertical-align: middle;"> Welcome to La Trobe University Open Day 2016!</p>
							</marquee>
						</div>
					</div>

				</div>

			</div>

		</div>




  <!-- Scripts-->
  <script type="text/javascript" src="/static/js/config.js"></script>
  <script type="text/javascript" data-main="modules/kiosk/init" src="/static/js/vendors/r.js"></script>

	</body>
</html>