<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
  <title>La Trobe University</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/css?family=Oxygen|Muli" rel="stylesheet">
  <link href="https://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/static/css/main.css" type="text/css" rel="stylesheet" media="screen,projection" />

  <link rel="shortcut icon" href="/favicon.ico?v2.1" type="image/x-icon">
  <link rel="icon" href="/favicon.ico?v2" type="image/x-icon">
</head>
<body id="home">

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                <img src="/static/img/logo.png" alt="">
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li>
					<a href="#">Glider</a>
				</li>
				<li>
					<a href="/map">Explore Latrobe</a>
				</li>
			</ul>
			</div>
			
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

	<!-- SCHEMA DATA -->
	<textarea style="display:none" id="schema">
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="col-sm-12 box-timetable-right big-box {TRANS_TYPE} {FAV_CLASS}" data-full-from="{FULL_FROM}" data-full-to="{FULL_TO}">
					<a href="#" class="add-to-fav" data-unique-name="{UNIQUE_NAME}"><i class="fa {FAV_ICON}" aria-hidden="true"></i></a>
					<div class="col-sm-12 display_table no-padding" style = "float: left;">
						<div class="display_cell" style = "width: 80px;">
							<img src="static/img/{PIC_NAME}" style="width: 55px;">
						</div>
						<div class="display_cell verticalLine" style = "padding-left: 10px;">
							<h4 class="trans_code">{CODE}</h4>
							<h5 class="trans_title">{TITLE}</h4>
							<p class="trans_info">{INFO}</p>
						</div>
						<div class = "display_cell" style = "padding-left: 50px; float: right;">
							<p class="trans_time">
								<a class="gotoMap" href="#">
									{TIME}
								</a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</textarea>

    <!-- Bus Timetable Section -->
    <div class="container img-rounded" style = "background-color: #F5F2E3;">
		<div class="row">
			<div class="container time-table-parents">
				<h3 class="img-rounded" style = "padding: 10px; background-image:  linear-gradient(to bottom, #31281c 0%, #51422f 100%); color: #FF9900;">NEARBY SERVICES</h3>
				<div class="kioskDisplay">
				
				<!-- INFORMATION TABLE  -->
				<div class="panel panel-default ">
					<div class="panel-heading" style = "text-align: center;">
					<!-- Click to change table -->
						<button class = "NSbtns BL" style = "float: left; background: rgba(0,0,0,0); color: red;"><<</button>
						<button class = "NSbtns BR" style = "float: right; background: rgba(0,0,0,0); color: red;">>></button>
						<h3 class = "NSHeading" style = "float: center; color: #FF9900;">BUSES</h3>
					</div>
					<!-- BUS INFORMATION -->
					<div class="bus-table main-column">
						<!-- END OF BUS INFORMATION -->
					</div>

					<!-- TRAM INFORMATION -->
					<div class="tram-table main-column hidden">
					</div>
					<!-- END OF TRAM INFORMATION -->
					
					<!-- TRAIN INFORMATION -->
					<div class="train-table main-column hidden">
					</div>
					<!-- END OF TRAIN INFORMATION -->

					<!-- GLIDER INFORMATION -->
					<div class="glider-table main-column hidden">
					</div>
					<!-- END OF GLIDER INFORMATION -->



					<div class="panel-footer"></div>
					</div>
					
					<!-- END OF PANEL INFORMATION -->
				</div>
			</div>
		</div>
	</div>
	<br>
	
	<!-- Journey Planner Section -->
	<div  class="container img-rounded" style = "background-color: #F5F2E3;">
		<div class = "row">
			<div class = "container">
				<div class = "JPContainer">
					<h3 class = "img-rounded" style = "padding: 10px; background-image:  linear-gradient(to bottom, #31281c 0%, #51422f 100%); color: #FF9900;">JOURNEY PLANNER</h3>
					<div class = "row">
						<!-- Current Location Panel -->
						<div class = "col-md-4">
							<div class="panel panel-default">
								<div class="btn-group btn-group-justified" style= "background-image: none;">
									<a href="#/" class="btn JPbtns leaving">Leaving From</a>
									<a href="#/" class="btn JPbtns goingTo">Going To</a>
								</div>
								<div class="panel-body">
									<div class="form-group">
										<input type="text" class="form-control" id="usr" placeholder = "Current Location">
									</div>
								</div>
							</div>
						</div>
						<!-- End Of Current Location Section -->
						<!-- Select A Campus Panel -->
						<div class = "col-md-4">
							<div class="panel panel-default">
								<div class="btn-group btn-group-justified" style= "background-image: none;">
									<a href="#/" class="btn JPbtns goingTo" >Leaving From</a>
									<a href="#/" class="btn JPbtns leaving">Going To</a>
								</div>
								<div class="panel-body">
									<div class="form-group">
										<select class="form-control">
											<option>La Trobe: Melbourne Campus</option>
											<option>La Trobe: Wadonga Campus</option>
											<option>La Trobe: Bendigo Campus</option>
											<option>La Trobe: Bundoora Campus</option>
											<option>La Trobe: Franklin St Campus</option>
											<option>La Trobe: Mildura Campus</option>
											<option>La Trobe: Shepparton Campus</option>
											<option>La Trobe: Sydney Campus</option>
										</select>
									</div>
								</div>
							</div>
						</div>
						<!-- End Of Select A Campus Panel -->
						<!-- Submit To Plan A Journey -->
						<div class = "col-md-4">
							<div class="panel panel-default">
								<a href="plan_journey" class="btn-block JPbtns max img-rounded" role="button">Plan Journey</a>
							</div>
						</div>
					</div>
				</div>	
			</div>
		</div>
	</div>
	<!-- End Of Journey Planner Section -->

	<!-- FOOTER SPACER -->
	<div id="stickybar" style="position:fixed;color: white;right:0;left:0;visibility:hidden;background:#2D251A;z-index: 10000;width:auto;font-weight:bold;">
		<div class ="navbar-inverse" style="text-align:center; padding:7.5px; background-color: #31281c;">Copyright (c) 2016 <a href="http://www.latrobe.edu.au" style="color:white;text-decoration:underline;">La Trobe University</a></div>
		<div class="row" style="margin-left:10px; margin-top:10px;">
			<div class="col-xs-6 col-sm-3 col-md-3" style="float:left">
				<h4 style="color:#FF9900;">SERVICES</h4>
				<ul style="list-style: none;">
					<li><a href="/glider" style="color: white;">Next Glider</a></li>
					<li><a href="/map" style="color: white;">Campus Map</a></li>
					<li><a href="/kiosk2" style="color: white;">Kiosk</a></li>
				</ul>
			</div> 
			<div class="col-xs-6 col-sm-3 col-md-3" style="float:left">
				<h4 style="color:#FF9900;">INFORMATION</h4>
				<ul style="list-style: none;">
					<li><a href="/myki" style="color: white;">Myki for Students</a></li>
					<li><a style="color: white;">LMS</a></li>
				</ul>
			</div>
			<div class="col-xs-6 col-sm-3 col-md-3" style="float:left">
				<h4 style="color:#FF9900;">ABOUT</h4>
				<ul style="list-style: none;">
					<li><a href="/about" style="color:white;">About Us</a></li>
					<li><a href="/contact" style="color:white;">Contact Us</a></li>
				</ul>
			</div>
		</div> 
	</div> 
	<div class = "col-lg-12 spacer" style = "height: 50px;">
		<!-- Adds some space to the bottom of the page to make room for the footer -->
	</div>

		<!-- Scripts-->
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCq2IKcNbdT0gATARU38Dr0JFkSp5qJFVM"></script>
		<script type="text/javascript" src="/static/js/config.js"></script>
		<script type="text/javascript" data-main="modules/home/init" src="/static/js/vendors/r.js"></script>

</body>

</html>

<!-- 
ADD GLIDER PAGE
ADD MYKI PAGE
ADD JOURNEY PLANNER PAGE
FORMAT ALL PAGES TO HAVE THE SAME STYLE
FORMAT TABLES TO RESCALE
GET DATA FOR TABLES
ADD SWIPING TO MAIN TABLE
ADD LINKS TO TABLE INFORMATION
GET ICON FOR GLIDER SERVICE
GET CURRENT LOCATION FOR JOURNEY PLANNER
GET CO-ORDINATES FOR EACH LA TROBE CAMPUS 
HAVE THE OPTION FOR A USER TO INPUT THEIR DESTINATION
LINK TO THE NEW JOURNEY PLANNER PAGE 
PASS ON INFORMATION TO THE JOURNEY PLANNER PAGE
CHECK IF ALL THE LINKS IN THE FOOTER AND NAVBAR ARE REQUIRED
FIX LINKS IN THE FOOTER
-->
