<% include partials/header %>

<body id="glider">

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <img src="/static/img/logo.png" alt="">
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <% include partials/menu %>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <hr>

        <!-- Content Row -->
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading"><h4>For students, staff and the University community</h4></div>
                    <div class="panel-body">
                        <p>The La Trobe Glider provides a free, day and night bus service for students, staff and the wider community travelling in a loop around the Melbourne campus.</p>
                        <div class="timetable-content">
                            <h4>Timetable - Major stops</h4>
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>Plenty Road - Depart Stop 1</th>
                                    <th>Barnes Way Stop 4</th>
                                    <th>Uni Lodge Stop 7</th>
                                    <th>Polaris Stop 10</th>
                                    <th>Plenty Road - Arrive Stop 1</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>8:30</td>
                                    <td>8:34</td>
                                    <td>8:39</td>
                                    <td>8:44</td>
                                    <td>8:48</td>
                                </tr>
                                <tr>
                                    <td>8:30</td>
                                    <td>8:34</td>
                                    <td>8:39</td>
                                    <td>8:44</td>
                                    <td>8:48</td>
                                </tr>
                                <tr>
                                    <td>8:30</td>
                                    <td>8:34</td>
                                    <td>8:39</td>
                                    <td>8:44</td>
                                    <td>8:48</td>
                                </tr>
                                <tr>
                                    <td>8:30</td>
                                    <td>8:34</td>
                                    <td>8:39</td>
                                    <td>8:44</td>
                                    <td>8:48</td>
                                </tr>
                                <tr>
                                    <td>8:30</td>
                                    <td>8:34</td>
                                    <td>8:39</td>
                                    <td>8:44</td>
                                    <td>8:48</td>
                                </tr>
                                <tr>
                                    <td>8:30</td>
                                    <td>8:34</td>
                                    <td>8:39</td>
                                    <td>8:44</td>
                                    <td>8:48</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <h3>Night service</h3>
                                <p>Request-based, stop-to-stop service (contact +61 3 9479 2012 after 9.30 pm to request a pick up)</p>
                                <p>Follows route map [PDF], serving blue stops as requested</p>
                                <p>Available during semesters, exam periods and mid-semester break</p>
                                <p>Runs Monday through Sunday from 9.30 pm to 2.00 am</p>
                                <p>There are no services available during summer break (November 2015 - March 2016).</p>
                            </div>
                        </div>
                    </div>
               </div>
            </div>
        </div>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12 center">
                    <p>Copyright &copy; Travel La Trobe University 2016</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
