<% include partials/header %>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<body id="home">

    <!-- Navigation -->
    <% include partials/menu %>

    <!-- Page Content -->
    <div class="container">

        <!-- Heading Row -->
        <div class="row">
            <div class="contents" style="max-width: 1050px;max-height: 700px;overflow: hidden;width: 100%;text-align: center;margin: auto;">
                <img class="mySlides w3-animate-fading" src="/static/img/2014_0006_070.jpg" style="width:100%">
                <img class="mySlides w3-animate-fading" src="/static/img/Agora-in-Winter.jpg" style="width:100%">
                <img class="mySlides w3-animate-fading" src="/static/img/img142-1.jpg" style="width:100%">
                <img class="mySlides w3-animate-fading" src="/static/img/Lims-La-Trobe-University-Molecular-Science-Building-Lyons-Architects-3.jpg" style="width:100%">
                <img class="mySlides w3-animate-fading" src="/static/img/maxresdefault.jpg" style="width:100%">
                <img class="mySlides w3-animate-fading" src="/static/img/SetWidth1000-130725_lims_4.jpg" style="width:100%">
            </div>
            
            </div>
            <div class="row" style="margin-top: 50px">
            <!-- /.col-md-8 -->
            <div class="col-md-4">
                <h1>Travel  to La Trobe?</h1>
                <p>Public Transport Victoria (PTV) is a statutory authority that manages Victoria’s train, tram and bus services. Public Transport Victoria (PTV) is a statutory authority that manages Victoria’s train, tram and bus services. </p>
                <a class="btn btn-primary btn-lg" href="#">Plan Journey?</a>
            </div>
            <div class="col-md-12 center" id="mapContainer" style="align: right; margin-left: 50px; margin-right: 10px; height: 400px; width: 710px"></div>
            <!-- /.col-md-4 -->
        </div>
        <!-- /.row -->

        <hr>

        <!-- Call to Action Well -->
        <div class="row">
            <div class="col">
                <div class="well text-center">
                    <img src="/static/img/glider.png" />
                    You want to catch the  next Glider? Just goto Glider next departure page.
                </div>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->

        <!-- Content Row -->
        <div class="row">
            <div class="col-md-4 intro-small-section">
                <h2><img src="/static/img/bus.jpg" /> Bus</h2>
                <p>A bus is a road vehicle designed to carry many passengers. Buses can have a capacity as high as 300 passengers. The most common type of bus is the single-decker rigid bus, with larger loads carried by double-decker and articulated buses, and smaller loads carried by midibuses and minibuses.</p>
                <a class="btn btn-default" href="#">More Info</a>
            </div>
            <!-- /.col-md-4 -->
            <div class="col-md-4 intro-small-section">
                <h2> <img src="/static/img/tram.png" /> Tram</h2>
                <p>A tram is a rail vehicle which runs on tracks along public urban streets, and also sometimes on a segregated right of way.[1] The lines or networks operated by tramcars are called tramways. Tramways powered by electricity, the most common type historically, were once called electric street railways.</p>
                <a class="btn btn-default" href="#">More Info</a>
            </div>
            <!-- /.col-md-4 -->
            <div class="col-md-4 intro-small-section">
                <h2><img src="/static/img/train.png" /> Train</h2>
                <p>A train is a form of rail transport consisting of a series of vehicles that usually runs along a rail track to transport cargo or passengers. Motive power is provided by a separate locomotive or individual motors in self-propelled multiple units. Although historically steam propulsion dominated.</p>
                <a class="btn btn-default" href="#">More Info</a>
            </div>
            <!-- /.col-md-4 -->
        </div>
        <!-- /.row -->

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Travel La Trobe University 2016</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->
    <script>
            var myIndex = 0;
            carousel();

            function carousel() {
                var i;
                var x = document.getElementsByClassName("mySlides");
                for (i = 0; i < x.length; i++) {
                   x[i].style.display = "none";
                }
                myIndex++;
                if (myIndex > x.length) {myIndex = 1}
                x[myIndex-1].style.display = "block";
                setTimeout(carousel, 9000);
            }
            var map;
          function iniMap() {
            map = new google.maps.Map(document.getElementById('mapContainer'), {
              center: {lat: -37.721185, lng: 145.048395},
              zoom: 16
            });
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCrzOfCzSnWmWbqGGdpM0p9FJAq152ORww&callback=iniMap"
        async defer></script>

      <!-- Scripts-->
      <script type="text/javascript" src="/static/js/config.js"></script>
      <script type="text/javascript" data-main="modules/map/init" src="/static/js/vendors/r.js"></script>

  

</body>

</html>
