<% include partials/header %>

<body id="kiosk" class="<%= body_class %>">

    <!-- Navigation -->
    <% include partials/menu %>

	<div class="main-wrapper">
		<textarea style="display:none" id="schema">

	<!-- Start of bus block -->
	<div class="col-sm-12 col-lg-12 box-timetable-right big-box {TRANS_TYPE} {FAV_CLASS}" data-full-from="{FULL_FROM}" data-full-to="{FULL_TO}">
		<a href="#" onClick class="add-to-fav" data-unique-name="{UNIQUE_NAME}"><i class="fa {FAV_ICON}" aria-hidden="true"></i></a>
		<div class="col-xs-12 col-sm-5 col-lg-5 no-padding ">

			<div class="col-xs-2 col-sm-3 col-lg-3 no-padding">
				<div class="display_cell">
					<img src="static/img/{PIC_NAME}" class="responsive vih-pic">
				</div>
			</div>

			<div class="col-xs-10 col-sm-9 col-lg-9 time-table">
				<h4 class="trans_code">{CODE}</h4>
				<h5 class="trans_title">{TITLE}</h4>
				<p class="trans_info">{INFO}</p>
			</div>

		</div>

		<div class="col-xs-12 col-sm-7 col-lg-7">
			<a class="gotoMap" href="#">
			{TIME}
			</a>
		</div>
	</div>
	<!-- End of bus block -->

</textarea>

		<div class="glider-desktop">
			<h3 class="heading">GLIDER SERVICES</h3>
			<div class="row glider-row" data-tab-item="glider">
				<div>1- Plenty Road</div>
				<div>2- Thomas Cherry</div>
				<div>3- Union</div>
				<div>4- Barnes Way</div>
				<div>5- AgriBio</div>
				<div>6- Terraces</div>
				<div>7- Uni Lodge</div>
				<div>8- Gresswell</div>
				<div>9- Graduate House</div>
				<div>10- Polaris</div>
			</div>
		</div>

		<h3 class="heading">NEARBY SERVICES</h3>

		<div class="row top-banner-row">
			<div class="col-sm-12 col-lg-12">

				<div class="header">
					<div class="disruptions hidden"><marquee onmouseover="this.stop();" onmouseout="this.start();"></marquee></div>
					<div class="banner">
						<!--<button id="switchJourneyKiosk" type="button" class="btn btn-primary">Plan journey</button>-->
						<div class="map hidden">
							<a href="#" class="back">
								< Back</a> <span></span>
						</div>
						<div class="journy hidden">
							<a href="#" class="back">
								< Back</a> <span></span>
						</div>
						<div class="clock"></div>
					</div>
				</div>

			</div>

		</div>

		<!--<div class="row">
            <div class="box">BOX</div>
        </div>-->
		<div class="row main-body">
			<div class="map-container hidden" id="mapContainer"></div>
			<div class="main-content" data-tab-item="kiosk">

				<div class="col-sm-12 col-lg-12 time-table-parents">

					<div class="col-sm-12 col-lg-4 main-column col-1"></div>

					<div class="col-sm-12 col-lg-4 main-column col-2"></div>

					<div class="col-sm-12 col-lg-4 main-column col-3"></div>

				</div>

			</div>

			<div class="row glider-row" data-tab-item="glider">
				<h3 class="heading">GLIDER SERVICES</h3>
				<div>1- Plenty Road</div>
				<div>2- Thomas Cherry</div>
				<div>3- Union</div>
				<div>4- Barnes Way</div>
				<div>5- AgriBio</div>
				<div>6- Terraces</div>
				<div>7- Uni Lodge</div>
				<div>8- Gresswell</div>
				<div>9- Graduate House</div>
				<div>10- Polaris</div>
			</div>
		</div>

		<div class="row plan_journy" data-tab-item="journy">
			<h3 class="heading">PLAN JOURNEY</h3>
			<div class="row">
				<div class="panel panel-default" id="planJournyForm">
					<div class="panel-body">
						<div class="form-group" id="startPanel">
							<h4>Leaving from</h4>
							<select class="form-control" id="start">
									<option value="-37.7207743,145.0463056">Thomas Cherry Building</option>
									<option value="-37.7223266,145.0485497">David Myers Building</option>
									<option value="-37.7224836,145.0483953">Ablett Tower Moat</option>
									<option value="-37.7186849,145.0447346">Medical Centre</option>
									<option value="-37.7186849,145.0447346">Terminus</option>
								</select>
						</div>
						<div class="form-group" id="endPanel">
							<h4>Going to</h4>
							<input type="text" id="end" name="end" class="searchKeyword form-control" placeholder="Station, stop, address">
						</div>

						<button onClick id="showJourney" type="button" class="btn btn-primary">Show journey</button>
						<button onClick id="switchDirection" type="button" class="btn btn-primary">Switch</button>
					</div>
					<div class="hidden center" id="loading">
						<img src="static/img/loading.gif" width="50">
					</div>
					<div class="alert alert-danger hide" id="error">
						<strong>No result found!</strong> No result found, please check your input.
					</div>
				</div>

				<div class="hidden" id="mapContainerJourny"></div>
			</div>
		</div>

		<div class="row footer-row">

			<div class="col-sm-12 col-lg-12">
				<ul class="mobile-nav">
					<li data-item="kiosk" class="active"><a href="#">Next</a></li>
					<li data-item="glider"><a href="#">Glider</a></li>
					<li data-item="journy"><a href="#">Journey</a></li>
					<li class="direct_button_item hidden" data-item="journy"><a href="#">To Uni</a></li>
				</ul>
			</div>

		</div>




		<!-- Scripts-->
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCq2IKcNbdT0gATARU38Dr0JFkSp5qJFVM"></script>
		<script type="text/javascript" src="/static/js/config.js"></script>
		<script type="text/javascript" data-main="modules/kiosk/init" src="/static/js/vendors/r.js"></script>

	</div>
</body>
</html>