    <% include partials/header %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">

    <body id="map">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">
                        <img src="/static/img/logo.png" alt="">
                    </a>

                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <% include partials/menu %>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>

        <!-- Page Content -->
        <div class="container">

            <hr>

            <!-- Content Row -->
            <div class="row">
                <h2>Explore Your Campus</h2>
                <h4 style="margin-left: 25px">Enter the location you want to search.</h4>            
                <form id = "Search" style= "margin-left: 50px">
                <input type="text" name="search" placeholder="Search.." style="margin-bottom: 10px">
                </form>
                    
                <div class="col-md-12 center" id="mapContainer" style="margin-left: 50px; margin-right: 10px; height: 400px; width: 500px"></div>
                <div class="col-md-13 center" id="street-view" style="height: 400px; width: 500px"></div>

                <h3>Attractions around you</h3>

                <div class="content" style="max-width:700px ; margin-left: 50px">

                        <img class="mySlides w3-animate-fading" src="/static/img/2014_0006_070.jpg" style="width:100%">
                        <img class="mySlides w3-animate-fading" src="/static/img/Agora-in-Winter.jpg" style="width:100%">
                        <img class="mySlides w3-animate-fading" src="/static/img/img142-1.jpg" style="width:100%">
                        <img class="mySlides w3-animate-fading" src="/static/img/Lims-La-Trobe-University-Molecular-Science-Building-Lyons-Architects-3.jpg" style="width:100%">
                        <img class="mySlides w3-animate-fading" src="/static/img/maxresdefault.jpg" style="width:100%">
                        <img class="mySlides w3-animate-fading" src="/static/img/SetWidth1000-130725_lims_4.jpg" style="width:100%">

                </div>

            </div> 
            <!-- /.row -->

            <!-- Footer -->
            <footer>
                <div class="row">
                    <div class="col-lg-12 center" >
                        <p>Copyright &copy; Travel La Trobe University 2016</p>
                    </div>
                </div>
            </footer>

        </div>

        
        <script>
            var myIndex = 0;
            carousel();

            function carousel() {
                var i;
                var x = document.getElementsByClassName("mySlides");
                for (i = 0; i < x.length; i++) {
                   x[i].style.display = "none";
                }
                myIndex++;
                if (myIndex > x.length) {myIndex = 1}
                x[myIndex-1].style.display = "block";
                setTimeout(carousel, 9000);
            }


          var map;
          function initMap() {
            map = new google.maps.Map(document.getElementById('mapContainer'), {
              center: {lat: -37.721185, lng: 145.048395},
              zoom: 16
            });
            panorama = new google.maps.StreetViewPanorama(
                document.getElementById('street-view'),
                {
                  position: {lat: -37.720861, lng: 145.046487},
                  pov: {heading: 180, pitch: 0},
                  zoom: 1
                  });
            var marker = new google.maps.Marker({
              position: {lat: -37.720861, lng: 145.046487},
              map: map,
              title: 'bus stop' 
              });     
            
          }
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCrzOfCzSnWmWbqGGdpM0p9FJAq152ORww&callback=initMap"
        async defer></script>

      <!-- Scripts-->
      <script type="text/javascript" src="/static/js/config.js"></script>
      <script type="text/javascript" data-main="modules/map/init" src="/static/js/vendors/r.js"></script>


    </body>

    </html>
