<% include partials/header %>
    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.js"></script>
    <script src="static/js/vendors/bootstrap-toolkit.js"></script>
	
    <!-- Bootstrap Core JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap-theme.css">
    
	<!-- Accordion -->
	<script>
    function toggle_visibility(id) 
    {
      var icon = document.getElementById(id + "Icon");
      if (icon.innerHTML == "+")
      {
         icon.innerHTML = "-";
      }
      else
      {
         icon.innerHTML = "+";
      }
	  jQuery("#" + id + "Info").slideToggle();
    }
	
	// LOAD PTV MYKI IFRAME ON BTN CLICK ONLY
    $(document).ready(function()
	{
	   var active = 0;
	   var imgSrc = "static/img/img1.jpg";

	    jQuery('#locationBtn').bind('click', function()
	    {
		    if (active == 0)
			{
	           jQuery('#locationIFrame').attr('src', 'http://ptv.vic.gov.au/application/mykimapV3/index.html');
			   active = 1;
	        }
			else
			{
			   active = 0;
			}
	    });
		
		//CHANGE CAMPUS MYKI MAP FOR EACH CAMPUS
	    jQuery('#campusMelb').click(function()
	    {
		    imgSrc = "/static/img/img1.jpg";
		    jQuery('#campusPic').attr('src', 'imgSrc');
	    });
	    jQuery('#campusCity').click(function()
	    {
		    imgSrc = "static/img/img2.jpg";
		    jQuery('#campusPic').attr('src', 'imgSrc');
	    });
		jQuery('#campusAlbury').click(function()
	    {
		    imgSrc = "static/img/img3.jpg";
		    jQuery('#campusPic').attr('src', 'imgSrc');
	    });
		jQuery('#campusSydney').click(function()
	    {
		    imgSrc = "static/img/img4.jpg";
		    jQuery('#campusPic').attr('src', 'imgSrc');
	    });
		jQuery('#campusBendigo').click(function()
	    {
		    imgSrc = "static/img/img5.jpg";
		    jQuery('#campusPic').attr('src', 'imgSrc');
	    });	
	});
</script>
	
	<!-- STICKY BAR -->
	<script>
	/*Expandable Sticky Bar (Initial: Nov 1st, 2010)
     * This notice must stay intact for usage 
     * Author: Dynamic Drive at http://www.dynamicdrive.com/
     * Visit http://www.dynamicdrive.com/ for full source code
     */

jQuery.noConflict()

function expstickybar(usersetting){
	var setting=jQuery.extend({position:'bottom', peekamount:30, revealtype:'mouseover', speed:200}, usersetting)
	var thisbar=this
	var cssfixedsupport=!document.all || document.all && document.compatMode=="CSS1Compat" && window.XMLHttpRequest //check for CSS fixed support
	if (!cssfixedsupport || window.opera)
		return
	jQuery(function($){ //on document.ready
		if (setting.externalcontent){
			thisbar.$ajaxstickydiv=$('<div id="ajaxstickydiv_'+setting.id+'"></div>').appendTo(document.body) //create blank div to house sticky bar DIV
			thisbar.loadcontent($, setting)
			}
		else
			thisbar.init($, setting)
	})
}

expstickybar.prototype={

	loadcontent:function($, setting){
		var thisbar=this
		var ajaxfriendlyurl=setting.externalcontent.replace(/^http:\/\/[^\/]+\//i, "http://"+window.location.hostname+"/") 
		$.ajax({
			url: ajaxfriendlyurl, //path to external content
			async: true,
			dataType: 'html',
			error:function(ajaxrequest){
				alert('Error fetching Ajax content.<br />Server Response: '+ajaxrequest.responseText)
			},
			success:function(content){
				thisbar.$ajaxstickydiv.html(content)
				thisbar.init($, setting)
			}
		})

	},

	showhide:function(keyword, anim){ 
		var thisbar = this, $=jQuery
		var finalpx = (keyword == "show")? 0 : -(this.height-this.setting.peekamount)
		var positioncss = (this.setting.position == "bottom")? {bottom:finalpx} : {top:finalpx}
		this.$stickybar.stop().animate(positioncss, (anim)? this.setting.speed : 0)
		
		thisbar.currentstate=keyword
	},

	toggle:function(){
		var state = (this.currentstate == "show")? "hide" : "show"
		this.showhide(state, true)
	},

	init:function($, setting){
		var thisbar = this
		this.$stickybar = $('#'+setting.id).css('visibility', 'visible')
		this.height = this.$stickybar.outerHeight()
		this.currentstate = "hide"
		setting.peekamount = Math.min(this.height, setting.peekamount)
		this.setting = setting
		if (setting.revealtype == "mouseover")
			this.$stickybar.bind("mouseenter mouseleave", function(e){
				thisbar.showhide((e.type == "mouseenter")? "show" : "hide", true)
		})
		thisbar.toggle()
		
		setTimeout(function(){
			thisbar.height = thisbar.$stickybar.outerHeight() //refetch height of bar after 1 second (last change to properly get height of sticky bar)
		}, 1000)
		this.showhide("hide")
	}
}


/////////////Initialization code://///////////////////////////
var mystickybar = new expstickybar({
	id: "stickybar", //id of sticky bar DIV
	position:'bottom', //'top' or 'bottom'
	revealtype:'mouseover', //'mouseover' or 'manual'
	peekamount:35, //number of pixels to reveal when sticky bar is closed
	externalcontent:'', //path to sticky bar content file on your server, or "" if content is defined inline on the page
	speed:200 //duration of animation (in millisecs)
})
	</script>
	
	<!-- INITIALISE STICKY BAR -->
	<script>
	(function($, viewport){
    $(document).ready(function() {
	
	var mystickybar= new expstickybar({
	id: "stickybar", //id of sticky bar DIV
	position:'bottom', //'top' or 'bottom'
	revealtype:'mouseover', //'mouseover' or 'manual'
	peekamount:35, //number of pixels to reveal when sticky bar is closed
	externalcontent:'', //path to sticky bar content file on your server, or "" if content is defined inline on the page
	speed:200 //duration of animation (in millisecs)
})
})});
	
</script>

<style>
body{
		background: linear-gradient(0deg, rgba(234,109,34,1) 0%, rgba(154,23,15,1) 100%); / w3c /
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9a170f', endColorstr='#ea6d22',GradientType=0 ); / ie6-9 /
		height: 100%;
		margin: 0;
		background-repeat: no-repeat;
		background-attachment: fixed;
	}
</style>

<body id="home">
	
    <!-- Navigation -->
    <% include partials/menu %>
  
 
    <!-- Page Content -->
    <div class="container img-rounded" style = "padding: 20px; background-color: #F5F2E3;">
      <div class="row">
        <div id="heading" class="col-xs-12 col-md-12">
		<img width="100%" src="static/img/newBus.png" class="img-rounded img-responsive" alt="New Bus from Reservoir Station direct to La Trobe Bundoora Campus" />
          <h3 class = "img-rounded" style = "padding: 10px; background-image:  linear-gradient(to bottom, #31281c 0%, #51422f 100%); color: #FF9900;">Myki for Students</h3>
		    <p>
		     When travelling on Melbourne's metropolitan public transport network, all travelers 
			 are required to use a Myki card as their ticket to travel. These reusable cards are 
			 to be topped-up to ensure sufficient funds are available, and touched-on and touched-off each time you travel.
			 For full details about Myki please visit <a href="http://ptv.vic.gov.au/tickets/myki/">
			 the official PTV webpage</a>.
			 </p>
			 
			<h3 class = "img-rounded" style = "padding: 10px; background-image:  linear-gradient(to bottom, #31281c 0%, #51422f 100%); color: #FF9900;">Purchasing & Topping-Up</h3>
			 <p>
			 All travellers are able to purchase Myki cards at Myki machines, staffed train stations and selected top-up locations
             including 7-Eleven stores.
			 </p>
			  <p><strong>Topping-Up:</strong> The most convenient way to top-up your Myki is through <a href="https://ptv.vic.gov.au/application/MYKIcvm/topup/index.html"> an online top-up</a> or
			 at any Myki Machine located on campus.</p>
			 <p>
			 <strong>Fees and Costs:</strong> Myki fares and travel expenses can be calculated by using the <a href="http://ptv.vic.gov.au/tickets/metropolitan-myki-fares-2016/">PTV fare calculator</a>.
			 </p><br/>
			 <h4>Domestic Students</h4>
			 <p>
			 If you are a domestic La Trobe student studying full-time, you are eligible to apply for a VPT Tertiary Concession Card.
			 The application for this form is automatically emailed to your registered student email address at the start of the year.
			 To access this form simply <a href="https://estudent.latrobe.edu.au/T1SMPRD/WebApps/eStudent/login.aspx?ReturnUrl=%2ft1smPRD%2fwebapps%2feStudent%2fdefault.aspx">
			 log in to Student Online</a>, select 'documents' and seach for 'VPT'.
			 </p><br/>
			 <h4>International Students</h4>
			 <p>
			 If you are an international or New Zealand undergraduate La Trobe student studying full-time at the Melbourne or Bendigo campuses, you 
			 are eligible to purchase a zone 1 + 2 iUSEpass, a zone 2 iUSEpass only, or a zone 13 iUSEpass for use in Bendigo. These passes enable half-price 
			 travel along these zones and last for 365 days. <a href="http://www.latrobe.edu.au/students/international/iusepass">Click here</a> to apply for 
			 a La Trobe iUSEpass.
			 </p>
		</div>
		
		
	  </div>
	</div>
<!-- FOOTER SPACER -->
<div style="position:absolute;width:99.5%;height:4.5%;">
&nbsp;
</div>
<div id="stickybar" style="position:fixed;color: white;right:0;left:0;visibility:hidden;background:#2D251A;z-index: 10000;width:auto;font-weight:bold;">
		<div class ="navbar-inverse" style="text-align:center; padding:7.5px; background-color: #31281c;">Copyright (c) 2016 <a href="http://www.latrobe.edu.au" style="color:white;text-decoration:underline;">La Trobe University</a></div>
		<div class="row" style="margin-left:10px; margin-top:10px;">
			<div class="col-xs-6 col-sm-3 col-md-3" style="float:left">
				<h4 style="color:#FF9900;">SERVICES</h4>
				<ul style="list-style: none;">
					<li><a href="/glider" style="color: white;">Next Glider</a></li>
				</ul>
			</div> 
			<div class="col-xs-6 col-sm-3 col-md-3" style="float:left">
				<h4 style="color:#FF9900;">INFORMATION</h4>
				<ul style="list-style: none;">
					<li><a href="https://lms.latrobe.edu.au/login/index.php" style="color: white;">LMS</a></li>
				</ul>
			</div>
			
		</div> 
	</div> 

	</body>
</html>