<% include partials/header %>

<body id="plan_journy">

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <img src="/static/img/logo.png" alt="">
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <% include partials/menu %>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">


        <!-- Content Row -->
        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading"><h5>Enter your journey details</h5></div>
                    <div class="panel-body">
                        <h4>Leaving from</h4>
                        <form>
                            <div class="radio">
                                <label><input type="radio" name="optradio">Stops</label>
                                <label><input type="radio" name="optradio">Addresses</label>
                                <label><input type="radio" name="optradio">Landmarks</label>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Station,stop,address">
                            </div>
                            <h4>Going to</h4>
                            <div class="radio">
                                <label><input type="radio" name="optradio">Stops</label>
                                <label><input type="radio" name="optradio">Addresses</label>
                                <label><input type="radio" name="optradio">Landmarks</label>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Station,stop,address">
                            </div>
                            <!-- <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Depart
                                <span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                <li><a href="#">Arrive</a></li>
                                <li><a href="#">Depart</a></li>
                                </ul>

                                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Date
                                <span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                <li><a href="#">01</a></li>
                                <li><a href="#">02</a></li>
                                <li><a href="#">03</a></li>
                                </ul>

                                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Month-Year
                                <span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                <li><a href="#">January-16</a></li>
                                <li><a href="#">febraury-16</a></li>
                                <li><a href="#">March-16</a></li>
                                </ul>
                            </div>-->
                                <div class="form-group">
                                    <input type="date"></input>
                                </div>

                                <button type="button" class="btn btn-primary">Show journey</button>
                        </form>
                    </div>
                </div> 
            </div>



            <!-- /.col-md-4 -->

            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading"><h5>Select your journey options</h5></div>
                    <div class="panel-body">
                        <h5>Leaving from :</h5>
                        <h5>Going to :</h5>
                        <h5>Departing after :</h5>

                                <!-- Start of bus block -->
                                <div class="col-sm-12 box-timetable-right big-box">
                                    <div class="col-sm-6 no-padding ">

                                        <div class="col-sm-3 no-padding">

                                            <img src="static/img/bus.jpg" class="responsive vih-pic">

                                        </div>

                                        <div class="col-sm-9 time-table">

                                            <h4 style="font-size: 1.5em">{TITLE}</h4>
                                            <p>{INFO}</p>

                                        </div>

                                    </div>

                                    <div class="col-sm-6">
                                        {TIME}
                                    </div>
                                </div>
                                <!-- End of bus block -->

                                <!-- Start of tram block -->
                                <div class="col-sm-12  box-timetable-left big-box">
                                    <div class="col-sm-6 no-padding ">

                                        <div class="col-sm-3 no-padding">

                                            <img src="static/img/tram.png" class="responsive vih-pic">

                                        </div>

                                        <div class="col-sm-9 time-table">

                                            <h4 style="font-size: 1.5em">{TITLE}</h4>
                                            <p>{INFO}</p>

                                        </div>

                                    </div>

                                    <div class="col-sm-6 tram-time-button">
                                        {TIME}
                                    </div>
                                </div>
                                <!-- End of tram block -->

                    </div>
                </div> 
            </div>
            <!-- /.col-md-4 -->

                  <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading"><h5>View your journey result</h5></div>
                    <div class="panel-body">
                    <h4><span class="label label-success">Option 3: 16min Zones: 1</span></h4
                        <div class="list-group">
                            <a href="#" class="list-group-item">First option</a>
                            <a href="#" class="list-group-item">Second option</a>
                            <a href="#" class="list-group-item">Third option</a>
                        </div>


                    </div>
                </div> 
            </div>

        <!-- /.row -->

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12 center">
                    <p>Copyright &copy; Travel La Trobe University 2016</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
